<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Tasks</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Tasks List</h3>
    <a th:href="@{/addnew}" class="btn btn-primary btn-sm mb-3" >Add </a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task:${AllTasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td>
                <input type="checkbox" th:checked="${task.completed}" th:onclick="'javascript:location.href=\'/tasks/'+${task.id}+'/toggle\' '" />
            </td>
            <td>
             <a th:href="@{/update/{id}(id=${task.id})}"
                    class="btn btn-primary">Update</a>
                <a th:href="@{/delete/{id}/delete(id=${task.id})}"
                   onclick="return confirm('Are you sure you want to delete this task?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>